body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #727275;
}

/* HEADER */

header {
  background: #fff;
  height: 10em;
  border-bottom: 0.15em dashed #2aa499;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2fb8ac;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  margin: 0;
  padding: 1em 0 0 0;
}

h2 {
  margin: 0;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;;
  color: #808080;
  font-size: 1.15em;
}

/* LIST */

.list {
  background: #fff;
  max-width: 31.250em;
  margin: 2em auto;
  padding: 1.5em;
  border-radius: 0.45em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 0 1em 0;
}

li {
  border-bottom: 1px solid #f2f2f2;
  padding: 1em 0;
  font-size: 1.2em;
}

li a i {
  color: #2fb8ac;
  margin-right: 1em;
  background: #f2f2f2;
  border-radius: 50%;
  padding: 0.35em;
}

li a i:hover {
  color: #fff;
  background: #2fb8ac;
}


.add_item {
  height: 3.3em;
  border: 2px solid #f2f2f2;
  font-size: 1em;
  color: #727275;
  line-height: 1em;
  background: #f2f2f2;
  border-radius: 0.35em 0 0 0.35em;
  padding: 0 1em;
  margin-bottom: 1em;
  width: 80%;
}

.add_item:focus {
  outline: none;
  border: 2px solid #2fb8ac;
}

.add_btn {
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  color: #2fb8ac;
  background: #f2f2f2;
  padding: 0.5em 1em;
  border-radius: 0 5px 5px 0;
  border: 2px solid #f2f2f2;
  height: 3.55em;
}

.add_btn:hover {
  outline: none;
  background: #2fb8ac;
  border: 2px solid #2fb8ac;
  color: #fff;
}

.add_btn:focus {
  outline: none;
}

.uncheck {
  color:#dbdbdb;
  text-decoration: line-through;
}

.uncheck .fa-check {
  color: #dbdbdb;
}

.remove {
  background: none;
  float: right;
  color: #dbdbdb;
}

.remove:hover {
  color: #2fb8ac;
  background: none;
}

.reset {
  border: none;
  text-align: right;
  margin-right: 1em;
}

.reset a {
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #2fb8ac;
  background: #f2f2f2;
  padding: 0.35em 1em 0.25em 1em;
  border-radius: 5px;
}

.reset a:hover {
  background: #2fb8ac;
  color: #fff;
}